<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sample</title>
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/responsive.css">
        <!--
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        -->
    </head>
    <body>
        <header>
            <div class='container'>
                <div class="header-left">
                    <img class='logo' src="https://prog-8.com/images/html/advanced/main_logo.png">
                    <a href="">あにまべる.com</a>
                </div>
                <div class="header-right">
                    <a href="#">レッスン</a>
                    <a href="#">新規登録</a>
                    <a href="#" class="login">ログイン</a>
                </div>
            </div>
        </header>
        <div class='menu-wrapper'>
        </div>
        <div class='main-wrapper'>
            <div class='leftside-wrapper'>
            </div>
            <div class='front-wrapper'>
                <div class='wrapper'>
                    <div class='container'>
                    </div>
                </div>
                <div class='wrapper'>
                    <div class='container'>
                    </div>
                </div>
            </div>
            <div class='rightside-wrapper'>
            </div>
        </div>
        <footer>
            <div class='container'>
            </div>
        </footer>
    </body>
</html>
